<html>

<header>
</header>
<body>

<section class="construction-banner">

  <lottie-player id="firstLottie" class="is-centered is-flex"
                 src="https://assets7.lottiefiles.com/packages/lf20_1lvsledo.json" mode=""
                 background="transparent" loop="true" speed="1" style="width: 600px; height: 600px; display: block; margin-left: auto; margin-right: auto;"
                 autoplay></lottie-player>
  <div class="text" style="padding-top: 0;">
    <h1>Coming soon</h1>
    <h2>This page is under construction</h2>
  </div>
</section>

</body>

</html>
