<html>
<body>
<header class="animated fadeInRight" >
  <div class="grid-box resize"><img src="../../assets/ticker.jpg"></div>
  <div class="grid-box resize"><img src="../../assets/snow.jpg"></div>
  <div class="grid-box resize"><img src="../../assets/snow.jpg"></div>
  <div class="grid-box resize"><img src="../../assets/snow.jpg"></div>
  <div class="grid-box resize"><img src="../../assets/suit.jpg"></div>
  <div class="grid-box resize"><img src="../../assets/suit.jpg"></div>
</header>
</body>
</html>
