<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<a style="color: black;" href="https://twitter.com/WillAngellJame1"><i class="icons fa fa-twitter"></i></a>
<a style="color: black;" href="https://www.linkedin.com/in/will-angell-james-48a354118/"><i
  class="icons fa fa-linkedin"></i></a>
<a style="color: black;" href="https://github.com/cwaj400"><i class="icons fa fa-github"></i></a>
</body>
</html>
