body {
  width: 100%;
  height: 70px;
  background-color: rgba(224, 169, 106, 0.85);
  justify-content: center;
}


.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  color: white;
  opacity: 0.8;
  cursor: pointer;
}
