<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Cormorant+Garamond" rel="stylesheet">
</head>
<main>
  <div class="wrapper">
    <section  style="overflow: hidden; resize: none;" class="index-banner">
      <div class="vertical-center" style="overflow: hidden; resize: none" nonedata-aos="zoom-in">
        <h2 style="overflow: hidden; resize: none">I AM A FREELANCE <br>iOS & WEB DEVELOPER</h2>
        <h1>With knowledge of Java and algorithm optimisation.</h1>
      </div>
    </section>
  </div>
</main>
</html>
