<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Cormorant+Garamond" rel="stylesheet">
</head>
<main>
  <div class="wrapper">
    <section  style="overflow: hidden; resize: none;" class="index-banner">
      <div class="vertical-center" style="overflow: hidden; resize: none" nonedata-aos="zoom-in">
        <h4 style="overflow: hidden; resize: none">Freelance Software Developer.</h4>
        <h2 style="overflow: hidden; resize: none">I build cool applications.<br>Welcome.</h2>
      </div>
    </section>
  </div>
</main>
</html>
