<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Cormorant+Garamond" rel="stylesheet">
</head>


<section id="about" class="flex-container introduction scrollto">


  <div class="who-am-i">
    <h3>Success</h3>
    <h2 class="section-title">Who Am I</h2>
    <br>

    <p class="section-subtitle">Will Angell-James is an English-turned-Bostonian athlete who's academic and
      sporting achievements earned him a scholarship to study Computer Science and Philosophy at Northeastern
      University, in America.
      <br>
      <br>
      Despite graduating in Fall 2018, Will spends much of his free time taking additional classes to further
      his
      iOS and Web Development capabilities.
      <br> Beyond his interest in software development, Will enjoys producing music, skiing, scuba-diving, and
      playing the banjo!
  </div>


  <!--First Skills Column -->

  <div class="first-skills-col">
    <i class="fa fa-rocket fa-2x"></i>
    <h4>Languages</h4>
    <p>Will is proficient in Java
      and has working knowledge of Javascript, Python, HTML, CSS, SQL
      and Swift
    </p>

    <!--Icon-->
    <i class="fa fa-power-off fa-2x bottom-skill"></i>
    <h4>Frameworks</h4>
    <p>He has used a variety of frameworks and has done projects on each one to learn of their technicalities.
      These include AngularJS, React, Node.js, Electron, MongoDB, MySQL, Express.js
      and React Native. Most of his projects can be found in his github</p>
  </div>


  <!--second skills column-->

  <div class="second-skills-col">
    <i class="fa fa-bolt fa-2x"></i>
    <h4>Management</h4>
    <p>Will has had a variety of professional roles, most notable is his work at the Northeastern Art
      Gallery
      where
      he managed a team of 40 people to ensure consistency and quality of shows</p>

    <i class="fa fa-fighter-jet fa-2x bottom-skill"></i>
    <h4>Sports</h4>
    <p>In addition to his plethora of knowledge, Will spends a lot of time on the river refining his rowing technique. He is
      also an avid runner and skier</p>
  </div>

</section>

</html>
