@media (max-width: 640px) {
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;
    display: block;
    align-items: stretch;
  }

  .who-am-i {
    display: inline-block;
    flex-direction: column;
    text-align: center;
    flex: auto;
  }

}

.flex-container {
  display: flex;
  flex-direction: row;
}

.bottom-skill {
  margin-top: 100px;
}

section {
  color: white;
}

/*sectiontitle, Who Am I*/
h2 {
  text-shadow: gold 1px 1px;
  font-weight: bolder;
}

.who-am-i {
  letter-spacing: 2px;
  font-family: inherit;
  margin: 30px 100px 40px 40px;
  width: 33%;
  line-height: 1cm;

  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(13px);
  filter: blur(0px);
  font-size: 15px;
}

.fa {
  color: red;
}

h3 {
  text-shadow: blue 1px 0;
  font-size: 8px;
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: 5px;
  padding-bottom: 0;
  padding-top: 0;

}

.first-skills-col, .second-skills-col {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(13px);
  filter: blur(0px);

  letter-spacing: 1px;
  font-family: inherit;
  margin: 50px 0 40px 40px;
  width: 33%;
  line-height: 1cm;
  font-size: 15px;

}

h4 {
  font-size: 20px;
}

.introduction {
  /*!*background: burlywood;*!*/

  /*!*IMAGES*!*/
  /*!*height: calc(100vh - 100px);*!*/

  -webkit-filter: blur(20%);
  -moz-filter: blur(20%);
  -o-filter: blur(20%);
  -ms-filter: blur(20%);
  filter: blur(20%);
  background-image: url("../../assets/cubic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  margin: 0;
  text-align: left;
  overflow: hidden;
  width: fit-content;
}
