<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Cormorant+Garamond" rel="stylesheet">
</head>

<div class="wrapper">

  <section id="about" class="introduction scrollto parent flex-parent">
    <div class="row" data-aos="slide-up">

      <div class="child flex-child">
        <div class="left-wrap">
          <div class="section-heading">
            <h3>Success</h3>
            <h2 class="section-title">Who Am I</h2>
            <br>

            <p class="section-subtitle">Will Angell-James is an English-turned-Bostonian athlete who's academic and
              sporting achievements earned him a scholarship to study Computer Science and Philosophy at Northeastern
              University, in America.
              <br>
              <br>
              Despite graduating in Fall 2018, Will spends much of his free time taking additional classes to further
              his
              iOS and Web Development capabilities.
              <br> Beyond his interest in software development, Will enjoys producing music, skiing, scuba-diving, and
              playing the banjo!
          </div>
        </div>
      </div>
      <div class="child">

      </div>

      <div class="child flex-child">

        <!--First two skills-->
        <div class="first-two-skills">

          <!--Icon-->
          <div class="icon">
            <i class="fa fa-rocket fa-2x"></i>
          </div>

          <!--Icon Block Description-->
          <div class="icon-block-description">
            <h4>Languages</h4>
            <p>Will is proficient in Java
              and has working knowledge of Javascript, Python, HTML, CSS, SQL
              and Swift
            </p>
          </div>
        </div>


        <!--Icon-->
        <div class="icon">
          <i class="fa fa-power-off fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Frameworks</h4>
          <p>He has used a variety of frameworks and has done projects on each one to learn of their technicalities.
            These include AngularJS, React, Node.js, Electron, MongoDB, MySQL, Express.js
            and React Native. Most of his projects can be found in his github</p>
        </div>
      </div>


      <div class="child flex-child">
        <!--Second two skills-->
        <div class="right-info">
          <div>
            <!--Icon-->
            <div class="icon">
              <i class="fa fa-bolt fa-2x"></i>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
              <h4>Management</h4>
              <p>Will has had a variety of professional roles, most notable is his work at the Northeastern Art
                Gallery
                where
                he managed a team of 40 people to ensure consistency and quality of shows</p>
            </div>
          </div>
        </div>


        <div class="icon">
          <i class="fa fa-fighter-jet fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Sports</h4>
          <p>In addition to his plethora of knowledge, Will spends a lot of time on the river refining his rowing. He is
            also an avid runner and skier
            technique</p>
        </div>
      </div>
    </div>

    <!--<h4 class="section-title-two">“A good programmer is someone who looks-->
    <!--both ways before crossing a one-way street” <br>- Doug Linder.</h4><br>-->

  </section>
</div>

</html>

