
<br>

<p style="text-align: center; font-family: 'Buda', font-size">
  Many of my works can be found on my GitHub. I'll shove them on here when I get the chance.
</p>
<div class="row">


  <div class="column">
    <a href="http://www.twitter.com/">
      <img class="img-img" src="assets/cubic.jpg" style="width: 100%">
      <div class="img-description-layer">
        <p class="img-description">Twitter.</p>
      </div>
    </a>
  </div>


  <div class="column">
    <a href="http://www.google.com">
      <img class="img-img" src="assets/construction.jpg" style="width: 100%">
      <div class="img-description-layer">
        <p class="img-description">Google.</p>
      </div>
    </a>
    </div>


</div>
