<html>
<header></header>

<body>
<div class="container-fluid">
<!--  <div class="row">-->
<!--    <img>-->
<!--    <h1 class="blog-header">Blog header</h1>-->
<!--    <p class="blog-subheader">Block subtext</p>-->
<!--  </div>-->

  <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/cwaj400"
        method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/cwaj400', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p>
      <label for="tlemail">Enter your email address to keep up to date on my adventures</label>
      <br> Or don't. That's cool too.
    </p>
    <p>
      <input type="text" style="width:140px" name="email" id="tlemail"/>
    </p>
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe"/>
    <p>
      <a href="https://tinyletter.com" target="_blank">Kindly powered by TinyLetter</a>
    </p>
  </form>

</div>


</body>

</html>
